/* import google font link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300&family=Work+Sans&display=swap');
/* universal css style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header start */
header{
    background-image: url(../images/banner/banner3.png);
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
section{
    padding: 100px 0; 
}
.header-container{
    padding-right: 150px;
    text-align: right;
    width: 50%; 
    color: #ffffff;
}
.header-title{
    font-size: 60px;
}
.description{
    font-size: 16px;
    padding: 10px 0px 10px 30px;
}
.primary-btn{
    padding: 18px 25px;
    font-size: 20px;
    color: #005FAC;
    font-weight: bold;
}
/* header end */
/* cause of failure start */
.container{
    max-width: 1080px;
    margin: 0 auto;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
    color: #151414;
}
.failure-title{
    font-size: 35px;
    font-weight: 700;
}
.desc-failure{
    margin: 1rem 0;
}
#cause-of-failure ul li{
    list-style: none;
    margin-bottom: 10px;
    color: #444343;
}
#cause-of-failure ul li:last-child{
    margin-bottom: 0;
}
#cause-of-failure ul li::before{
    content: '\2713';
    margin-right: 5px;
    color: #16D887;
}
/* cause of failure end */