/* import google font link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300&family=Work+Sans&display=swap');
/* universal css style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* header start */
header{
    background-image: url(../images/banner/banner3.png);
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
section{
    padding: 100px 0 50px 0; 
}
.header-container{
    padding-right: 150px;
    text-align: right;
    width: 50%; 
    color: #ffffff;
}
.header-title{
    font-size: 60px;
}
.description{
    font-size: 16px;
    padding: 10px 0px 10px 30px;
}
.primary-btn{
    padding: 18px 25px;
    font-size: 20px;
    color: #005FAC;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid;
    border-color: transparent;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    cursor: pointer;
}
.primary-btn:hover{
    color: #ffffff;
    background-color: #005FAC;
    border: 1px solid #ffffff;
}
.secondary-btn{
    padding: 15px 20px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    background-color: #005FAC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-color: transparent;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    cursor: pointer;
}
.secondary-btn:hover{
    color: #005FAC;
    background-color: #ffffff;
}
/* header end */
/* cause of failure start */
.container{
    max-width: 1080px;
    margin: 0 auto;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #151414;
}
.failure-title{
    font-size: 35px;
    font-weight: 700;
}
.desc-failure{
    margin: 1rem 0;
}
#cause-of-failure ul li{
    list-style: none;
    margin-bottom: 10px;
    color: #444343;
}
#cause-of-failure ul li:last-child{
    margin-bottom: 0;
}
#cause-of-failure ul li::before{
    content: '\2713';
    margin-right: 5px;
    color: #16D887;
}
/* cause of failure end */
/* My Plans section style start */
#my-plans{
    text-align: center;
}
.my-plan-title{
    font-size: 35px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 100px;
}
.card h4{
    font-size: 27px;
    margin: 10px 0;
    color: #151414;
    font-weight: 600;
}
.card p{
    font-size: 22px;
    color: #737272;
}
.my-plan-bottom-image{
    text-align: left;
}
.image-gradient{
    background-image: linear-gradient(to right,#005FAC,#005FAC00),url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%;
    max-width: 800px;
    height: 200px;
    padding: 30px;
    margin: 0 auto;
}
.image-gradient h2{
    color: #ffffff;
    font-size: 35px;
    width: 50%;
    margin-bottom: 10px;
}
/* My Plans section style end */

/* Routine section style start */
#my-section{
    background-image: linear-gradient(to right,#2193b044,#0162782a);
}
.routine{
    margin: 0 auto;
    text-align: center;
}
.routine h2{
    margin-bottom: 40px;
    background-image: linear-gradient(#5433FF,#20BDFF,#fea5a5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
}
th,td,table{
    border: 2px solid rgba(143, 13, 13, 0.823);
    border-collapse: collapse;
}
th,td{
    width: 300px;
    height: 80px;
    background-image: linear-gradient(to right, #7300ac,#d86016);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
}
tr:first-child th{
    font-size: 30px;
}
tr:first-child{
    background-color: #0033663a;
}
/* Routine section style end */
/* footer style start */
#footer{
    background-color: #151414;
    color: #ffffff;
}
.footer-content{
    display: flex;
    gap: 200px;
    padding: 120px 0;
    margin: 0 auto;
}
.footer-content div{
    flex-basis: 50%;
}
.footer-content h2{
    font-size: 35px;
    font-weight: 700;
    color: #F8F8F8;
}
.footer-content p{
    color: #ffffff;
    padding: 10px 0;
}
.social-links{
    padding-top: 20px;
}
.footer-content a{
    margin-right: 15px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    display: inline-block;
    border-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.footer-content a:hover{
    background-color: #006AFF;
}
.subscribe input{
    padding: 15px;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #F3F3F3;
    display: block;
    margin: 20px 0 15px 0;
    background-color: #151414;
    color: #F3F3F3;
}
.subscribe input::placeholder{
    color: #F3F3F3;
    font-weight: 100;
}
/* footer style end */