/* import google font link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300&family=Work+Sans&display=swap');
/* universal css style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header start */
header{
    background-image: url(../images/banner/banner3.png);
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
section{
    padding: 100px 0 50px 0; 
}
.header-container{
    padding-right: 150px;
    text-align: right;
    width: 50%; 
    color: #ffffff;
}
.header-title{
    font-size: 60px;
}
.description{
    font-size: 16px;
    padding: 10px 0px 10px 30px;
}
.primary-btn{
    padding: 18px 25px;
    font-size: 20px;
    color: #005FAC;
    font-weight: bold;
}
/* header end */
/* cause of failure start */
.container{
    max-width: 1080px;
    margin: 0 auto;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #151414;
}
.failure-title{
    font-size: 35px;
    font-weight: 700;
}
.desc-failure{
    margin: 1rem 0;
}
#cause-of-failure ul li{
    list-style: none;
    margin-bottom: 10px;
    color: #444343;
}
#cause-of-failure ul li:last-child{
    margin-bottom: 0;
}
#cause-of-failure ul li::before{
    content: '\2713';
    margin-right: 5px;
    color: #16D887;
}
/* cause of failure end */
/* My Plans section style start */
#my-plans{
    text-align: center;
}
.my-plan-title{
    font-size: 35px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 100px;
}
.card h4{
    font-size: 27px;
    margin: 10px 0;
    color: #151414;
    font-weight: 600;
}
.card p{
    font-size: 22px;
    color: #737272;
}
.my-plan-bottom-image{
    text-align: left;
}
.image-gradient{
    background-image: linear-gradient(to right,#005FAC,#005FAC00),url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%;
    max-width: 800px;
    height: 200px;
    padding: 30px;
    margin: 0 auto;
}
.image-gradient h2{
    color: #ffffff;
    font-size: 35px;
    width: 50%;
    margin-bottom: 10px;
}
/* My Plans section style end */